:root {
  --primary: black;
  --secondary: white;
  --ternary: black;
  --text: white;
  --max-menu-width: 20vw;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  overflow-x: hidden;
}

* {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

@keyframes closeMenu {
  0% {
    translate: 0px 0px;
  }

  100% {
    translate: calc(-1 * var(--max-menu-width)) 0px;
  }
}

@keyframes openMenu {
  0% {
    translate: calc(-1 * var(--max-menu-width)) 0px;
  }

  100% {
    translate: 0px 0px;
  }
}

div.full {
  position: absolute;
  width: 100vw;
  left: var(--max-menu-width);
  min-height: 90vh;
  padding-bottom: 10vh;
  background-color: #000000;
  font-size: 70%;
}

div.full_opened {
  animation-name: closeMenu;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

div.full_closed {
  animation-name: openMenu;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

div.console {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

input.entry {
  position: relative;
  top: 88vh;
  width: 96vw;
  left: 2vw;
  height: 6vh;

  background-color: #222;
  border-radius: 8px;

  border: 1px solid #555;

  color: white;
}

input.entry:focus {
  outline: none;
}

div.menu {
  display: flex;
  position: fixed;
  flex-direction: column;

  width: 20vw;
  height: 100vh;
  left: 0vw;

  background-color: #222;
  border-right: 1px solid white;
  z-index: 100;

  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;

  overflow: hidden;
}

div.submenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-top: 2px solid white;
}

div.submenu2 {
  display: flex;
  padding: 1%;
  margin-right: 5vw;
  margin-right: auto;
  margin: 1%;
}

button.register {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 5vw;
  height: 4vh;
  border: 2px solid white;
  background-color: rgb(50, 50, 50);
  border-radius: 3px;
  color: white;

  padding: 1%;
  margin-right: 5vw;
  margin-right: auto;
  margin: 1%;

  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
}

button.register:hover {
  cursor: pointer;
  background-color: #212121;
}

button.register:active {
  cursor: pointer;
  background-color: #000000;
}

button.menubutton {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 15vw;
  height: 4vh;
  border: 1px solid white;
  background-color: rgb(50, 50, 50);
  border-radius: 3px;
  color: white;

  padding: 1%;
  margin-top: 2vh;

  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
}

button.menubutton:hover {
  cursor: pointer;
  background-color: #212121;
}

button.menubutton:active {
  cursor: pointer;
  background-color: #000000;
}

button.closemenu {
  margin-left: auto; 
  height: 3vh;
  background: none;
  border: none;
  font-family: Helvetica;
  color: white;
}

button.closemenu:hover {
  cursor: pointer;
}

button.openmenu {
  position: fixed;
  display: flex;
  justify-content: center;
  margin-right: auto;
  height: 3vh;
  background: gray;
  align-items: center;
  border: none;
  font-family: Helvetica;
  color: white;
  bottom: 4vh;
  z-index: 50;
 
}

button.openmenu:hover {
  cursor: pointer;
}

div.menuclosed {
  animation-name: closeMenu;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

div.menuopened {
  animation-name: openMenu;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}