:root {
  --primary: black;
  --secondary: white;
  --ternary: black;
  --text: white;
  --menu-width: 20vw;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  overflow-x: hidden;
}

* {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

div.full {
  position: absolute;
  width: calc(100vw - var(--menu-width));
  left: var(--menu-width);
  min-height: 90vh;
  padding-bottom: 10vh;
  background-color: #000000;
  font-size: 70%;

}

div.console {
  display: flex;
  flex-direction: column;
}

input.entry {
  position: fixed;
  bottom: 2vh;
  width: calc(96vw - var(--menu-width));
  left: calc(2vw + var(--menu-width));
  height: 6vh;
  

  background-color: #222;
  border-radius: 8px;

  border: 1px solid #555;

  color: white;
}

input.entry:focus {
  outline: none;
}

div.menu {
  display: flex;
  position: fixed;
  width: 20vw;
  height: 100vh;
  left: 0vw;
  background-color: #222;
  border-right: 3px solid white;
  z-index: 100;
  
}

button.closemenu {
  margin-left: auto; 
  height: 3vh;
  background: none;
  border: none;
  font-family: Helvetica;
  color: white;
}

button.closemenu:hover {
  cursor: pointer;
}
button.openmenu {
  position: fixed;
  display: flex;
  justify-content: center;
  margin-right: auto;
  height: 3vh;
  background: gray;
  align-items: center;
  border: none;
  font-family: Helvetica;
  color: white;
  bottom: 4vh;
  z-index: 50;
 
}

button.openmenu:hover {
  cursor: pointer;
}

div.menuclose {
  translate: -500px 0;
}